#like {
    background-color: transparent;
    border: none;
    font-size: 3vh;
    margin: 2vh 0;
    outline: none;
    text-align: left;
    width: 90%;
}

.far {
    width: 100px;
}

.fas {
    animation-iteration-count: 1;
    color: red;
}