@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&display=swap');

.App {
  background-color: #FAFAFA;
  font-family: 'Anek Telugu', sans-serif;
  height: 100vh;
  margin: auto;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

#root {
  margin: 0;
}